@charset 'utf-8';
.about {
    background: $black;
    .sc01 {
        @include img_about_visual;
    }

    .sc02 {
        position: relative;
        width: 100%;
        padding: rem(100) 0 0;
        margin: 0 auto;
        text-align: center;
        &::before {
            @include content(block);
            @include img_about_gif;
            width: rem(1200);
            height: rem(500);
            margin: 0 auto;
        }

        &::after {
            @include content;
            @include img_about_effect;
            width: rem(600);
            height: rem(80);
        }

        strong {
            @include ftB;
            font-size: rem(80);
            color: $white;
        }

        em {
            display: block;
            @include ftB;
            font-size: rem(18);
            color: $point-color;
            margin: rem(20) 0;
        }

        p {
            max-width: rem(820);
            @include ftM;
            font-size: rem(18);
            line-height: rem(30);
            color: $ft-gray-color;
            margin: 0 auto rem(25);
            word-break: keep-all;
        }
    }
    
    .sc03 {
        position: relative;
        width: 100%;
        padding: rem(160) 0 0;

        .inner {
            @include flex(center, space-between);
        }

        .tit_box {
            strong {
                @include ftB;
                font-size: rem(80);
                color: $white;
                margin: rem(20) 0;
                display: block;
                max-width: rem(500);
            }
    
            em {
                display: block;
                @include ftB;
                font-size: rem(18);
                color: $point-color;
            }
    
            p {
                max-width: rem(545);
                @include ftM;
                font-size: rem(18);
                line-height: rem(30);
                color: $ft-gray-color;
                word-break: keep-all;
            }
        }

        .card_box {
            position: relative;
            max-width: rem(664);
            z-index: 1;
            height: rem(800);
            overflow: hidden;
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 0 rem(24);
                animation: scrolling 25s linear infinite; 
                will-change: transform;
                &:hover {
                    animation-play-state: paused;
                }

                li {
                    position: relative;
                    width: rem(320);
                    height: rem(350);
                    padding: rem(35) rem(30) rem(30) rem(35);
                    background: $card-bg-color;
                    border: 1px solid $card-bd-color;
                    border-radius: rem(20);
                    text-align: left;
                    transition: all 0.3s ease-in-out;

                    p {
                        @include ftM;
                        font-size: rem(30);
                        line-height: rem(35);
                        color: $white;
                        margin-bottom: rem(10);
                    }

                    span {
                        @include ftM;
                        font-size: rem(18);
                        line-height: rem(26);
                        color: $white;

                        em {
                            color: $point-color;
                        }
                    }

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: rgba($point-color, 0.15) 0px 48px 100px 0px;
                    }

                    i {
                        @include absolute($bottom:rem(30), $right:rem(30));
                        width: rem(150);
                        height: rem(150);
                    }

                    &:nth-of-type(even):not(:nth-of-type(2)) {
                        margin-top: rem(24)
                    }

                    &:nth-of-type(odd):not(:nth-of-type(1)) {
                        margin-top: rem(-103)
                    }

                    &.icon01 {
                        i {
                            @include img_about_icon01;
                        }
                    }

                    &.icon02 {
                        margin-top: rem(127);
                        i {
                            @include img_about_icon02;
                        }
                    }

                    &.icon03 {
                        i {
                            @include img_about_icon03;
                        }
                    }

                    &.icon04 {
                        i {
                            @include img_about_icon04;
                        }
                    }

                    &.icon05 {
                        i {
                            @include img_about_icon05;
                        }
                    }

                    &.icon06 {
                        i {
                            @include img_about_icon06;
                        }
                    }

                    &.icon07 {
                        i {
                            @include img_about_icon07;
                        }
                    }

                    &.icon08 {
                        i {
                            @include img_about_icon08;
                        }
                    }
                }
            }
        }

        .ripple {
            @include absolute($top:76%, $left: -10%);
            width: 50%;
            pointer-events: none;
        
            .center {
                @include centerXY;
                width: 150px;
                height: 80px;
                border: 1px solid rgba($white, 0.3);
                border-radius: 50%;
                background: transparent;
            }
        
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);  /* 초기 크기 0 */
                width: 150px;
                height: 80px;
                border: 1px solid rgba($white, 0.3);
                border-radius: 50%;
                animation: ripple-effect 6s infinite forwards;
                &:nth-of-type(2) {
                    animation-delay: 1.5s;
                }
                &:nth-of-type(3) {
                    animation-delay: 3s;
                }
                &:nth-of-type(4) {
                    animation-delay: 4.5s;
                }
            }
        }

        .blur {
            @include centerXY;
            width: 20%;
            background: $point-color;
            border-radius: 50%;
            padding: 10% 0;
            opacity: 0.3;
            transition: all 1.0s linear, transform 0.3s ease;
            animation: blur-circle 4s linear infinite;
            filter: blur(80px);
            pointer-events: none;
        }
    }

    .sc04 {
        position: relative;
        width: 100%;
        padding: rem(230) 0 0;
        margin: 0 auto;
        text-align: center;

        strong {
            @include ftB;
            font-size: rem(80);
            color: $white;
        }

        em {
            display: block;
            @include ftB;
            font-size: rem(18);
            color: $point-color;
            margin: rem(20) 0;
        }

        p {
            max-width: rem(680);
            @include ftM;
            font-size: rem(18);
            line-height: rem(30);
            color: $ft-gray-color;
            margin: 0 auto;
            word-break: keep-all;
        }

        .card_box {
            position: relative;
            width: 100%;
            margin-top: rem(100);
            
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-bottom: rem(507);

                li {
                    position: relative;
                    &:nth-of-type(even) {
                        margin-top: rem(430);
                        display: flex;
                        justify-content: flex-end;

                        .txt_box {
                            margin-left: rem(60);
                        }
                    }
                    &:nth-last-child(2) {
                        .txt_box {
                            span {
                                max-width: rem(560);
                            }
                        }
                    }

                    .img_box {
                        width: rem(640);
                        height: rem(400);
                        overflow: hidden;

                        img {
                            @include centerXY;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            transition: width 1s, height 1s;
                        }

                        &:hover {
                            img {
                                width: 110%;
                                height: 110%;
                            }
                        }
                    }

                    .txt_box {
                        @include absolute($top:rem(360),$left:rem(60));
                        text-align: left;
                        p {
                            @include ftB;
                            font-size: rem(80);
                            color: $white;
                            line-height: rem(90);
                            margin-bottom: rem(20);
                            &::after {
                                content: '.';
                                @include ftB;
                                font-size: rem(80);
                                color: $point-color;
                                margin-left: rem(15);
                            }
                        }
                        span {
                            display: block;
                            max-width: rem(525.4);
                            @include ftM;
                            font-size: rem(18);
                            color: $ft-gray-color;
                            line-height: rem(30);
                        }
                    }
                }
            }
        }
    }

    .sc05 {
        position: relative;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: rem(500);
        overflow: hidden;

        h5 {
            padding-top: rem(120);
            position: relative;
            z-index: 1;
            @include ftB;
            font-size: rem(70);
            color: $white;
            line-height: rem(75);
        }

        .bg_video {
            @include absolute($bottom:0, $left:0);
            width: 100%;
            height: rem(500);
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 1201px) and (max-width: 1400px)  {
    :root {
        font-size: 47.5%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    :root {
        font-size: 42.5%;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    :root {
        font-size: 62.5%;
    }

    .about {
        .sc02 {
            padding: rem(80) 0 rem(60);
            &::before {
                width: 100%;
                max-width: rem(768);
                aspect-ratio: 768/410;
                height: auto;
            }
    
            &::after {
                width: rem(600);
                height: rem(80);
            }
    
            strong {
                font-size: rem(50);
            }
    
            em {
                font-size: rem(24);
            }
    
            p {
                max-width: rem(650);
                font-size: rem(26);
                line-height: rem(40);
                letter-spacing: rem(-0.52);
                margin-bottom: rem(80);
            }
        }
    
        .sc03 {
            position: relative;
            width: 100%;
            padding: rem(160) 0 0;
    
            .inner {
                @include flex(center, center, rem(80), column);
            }
    
            .tit_box {
                text-align: center;

                strong {
                    font-size: rem(50);
                    max-width: none;
                }
        
                em {
                    font-size: rem(24);
                }
        
                p {
                    max-width: rem(623);
                    font-size: rem(26);
                    line-height: rem(40);
                    letter-spacing: rem(-0.52);
                    margin: 0 auto;
                }
            }
    
            .card_box {
                width: 100%;
                max-width: none;
                padding: 0 rem(40);
                height: auto;
                ul {
                    width: 100%;
                    @include flex(center, center, rem(40));
                    flex-wrap: wrap;
                    animation: none;
    
                    li {
                        width: rem(324);
                        height: rem(320);
                        padding: rem(30) rem(30) rem(30) rem(40);
                        margin-top: 0 !important;
    
                        p {
                            font-size: rem(28);
                            line-height: rem(31);
                        }
    
                        span {
                            font-size: rem(20);
                            line-height: rem(31);
                        }
    
                        &:hover {
                            transform: none;
                            box-shadow: none;
                        }
    
                        i {
                            width: rem(110);
                            height: rem(110);
                        }
                    }
                }
            }
    
            .ripple {
                display: none;
            }

            .blur {
                @include centerX($top: 12%);
                width: 60%;
                border-radius: 50%;
                padding: 20% 0;
                opacity: 0.23;
                transition: none;
                animation: none;
                filter: blur(80px);
                pointer-events: none;
                z-index: 0;
            }
        }

        .sc04 {
            padding: rem(200) 0 0;
    
            strong {
                font-size: rem(50);
            }
    
            em {
                font-size: rem(24);
            }
    
            p {
                max-width: rem(620);
                font-size: rem(26);
                line-height: rem(40);
                letter-spacing: rem(-0.52);
            }
    
            .card_box {
                ul {
                    @include flex(center, center, 0, column);
    
                    li {
                        width: 100%;
                        & + li {
                            margin-top: rem(314) !important;
                        }

                        &:nth-child(even) {
                            .txt_box {
                                margin-left: 0;
                            }
                        }
                        &:nth-last-child(2) {
                            .txt_box {
                                span {
                                    max-width: 96%;
                                }
                            }
                        }
    
                        .img_box {
                            width: 100%;
                            aspect-ratio: 768/400;
                            height: auto;
                            overflow: hidden;
    
                            img {
                                object-position: center;
                                transition: none;
                            }
    
                            &:hover {
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
    
                        .txt_box {
                            @include absolute($top:rem(385),$left:rem(60));
                            p {
                                max-width: none;
                                font-size: rem(50);
                                color: $white;
                                line-height: rem(50);
                                margin-bottom: rem(20);
                                &::after {
                                    font-size: rem(50);
                                    margin-left: rem(5);
                                }
                            }
                            span {
                                max-width: 92%;
                                font-size: rem(26);
                                line-height: rem(40);
                                letter-spacing: rem(-0.52);
                            }
                        }
                    }
                }
            }
        }

        .sc05 {
            height: rem(740);
            overflow: hidden;
    
            h5 {
                padding-top: rem(150);
                font-size: rem(50);
            }
    
            .bg_video {
                height: rem(740);
            }
        }
    }

    .wrap {
        .footer {
            .inner {
                padding: rem(60) 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    :root {
        font-size: 62.5%;
    }

    .about {
        .sc02 {
            padding: rem(80) 0 0;

            &::before {
                width: 100%;
                max-width: rem(767);
                aspect-ratio: 768/410;
                height: auto;
                background-size: cover;
            }
    
            &::after {
                width: 100%;
                max-width: rem(767);
                aspect-ratio: 600/80;
                height: auto;
            }
    
            strong {
                font-size: rem(36);
            }
    
            em {
                font-size: rem(18);
            }
    
            p {
                max-width: calc(100% - rem(60));
                font-size: rem(18);
                line-height: rem(30);
                letter-spacing: rem(-0.3);
                margin-bottom: rem(40);
                margin: 0 auto;
            }
        }
    
        .sc03 {
            position: relative;
            width: 100%;
            padding: rem(80) 0 0;
    
            .inner {
                @include flex(center, center, rem(60), column);
            }
    
            .tit_box {
                text-align: center;

                strong {
                    font-size: rem(36);
                    max-width: none;
                }
        
                em {
                    font-size: rem(18);
                }
        
                p {
                    max-width: calc(100% - rem(60));
                    font-size: rem(18);
                    line-height: rem(30);
                    letter-spacing: rem(-0.3);
                    margin: 0 auto;
                }
            }
    
            .card_box {
                width: 100%;
                max-width: none;
                padding: 0 rem(40);
                height: auto;

                ul {
                    width: 100%;
                    @include flex(center, center, rem(40));
                    flex-wrap: wrap;
                    animation: none;
    
                    li {
                        width: rem(324);
                        height: rem(320);
                        padding: rem(20) rem(20) rem(20) rem(30);
                        margin-top: 0 !important;
    
                        p {
                            font-size: rem(24);
                            line-height: rem(31);
                        }
    
                        span {
                            font-size: rem(16);
                            line-height: rem(31);
                        }
    
                        &:hover {
                            transform: none;
                            box-shadow: none;
                        }
    
                        i {
                            width: rem(110);
                            height: rem(110);
                            right: rem(20);
                        }
                    }
                }
            }
    
            .ripple {
                display: none;
            }

            .blur {
                @include centerX($top: 12%);
                width: 60%;
                border-radius: 50%;
                padding: 20% 0;
                opacity: 0.23;
                transition: none;
                animation: none;
                filter: blur(80px);
                pointer-events: none;
                z-index: 0;
            }
        }

        .sc04 {
            padding: rem(80) 0 0;
    
            strong {
                font-size: rem(36);
            }
    
            em {
                font-size: rem(18);
            }
    
            p {
                max-width: calc(100% - rem(60));
                font-size: rem(18);
                line-height: rem(30);
                letter-spacing: rem(-0.3);
                margin-bottom: rem(40);
                margin: 0 auto;
            }
    
            .card_box {
                ul {
                    @include flex(center, center, 0, column);
                    padding-bottom : rem(360);
    
                    li {
                        width: 100%;
                        & + li {
                            margin-top: rem(240) !important;
                        }

                        &:nth-child(even) {
                            .txt_box {
                                margin-left: 0;
                            }
                        }
                        &:nth-last-child(2) {
                            .txt_box {
                                span {
                                    max-width: 96%;
                                }
                            }
                        }
    
                        .img_box {
                            width: 100%;
                            aspect-ratio: 768/400;
                            height: auto;
                            overflow: hidden;
    
                            img {
                                object-position: center;
                                transition: none;
                            }
    
                            &:hover {
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
    
                        .txt_box {
                            @include absolute($top:rem(180),$left:rem(20));
                            p {
                                max-width: none;
                                font-size: rem(36);
                                color: $white;
                                line-height: rem(46);
                                margin-bottom: rem(20);
                                &::after {
                                    font-size: rem(36);
                                    margin-left: rem(5);
                                }
                            }
                            span {
                                max-width: 92%;
                                font-size: rem(18);
                                line-height: rem(24);
                                letter-spacing: rem(-0.3);
                            }
                        }
                    }
                }
            }
        }

        .sc05 {    
            h5 {
                font-size: rem(30);
                line-height: rem(46);
            }
        }
    }

    .wrap {
        .footer {
            .inner {
                padding: rem(40) 0;
            }
        }
    }
}