@charset 'utf-8';

@keyframes spin-dot {
    0% {
        transform: scale(1) rotate(0deg) translate(35px);
    }
    50% {
        transform: scale(1.2) rotate(180deg) translate(35px);
    }
    100% {
        transform: scale(1) rotate(360deg) translate(35px);
    }
}


@keyframes scroll-arrow {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes circle-spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ripple-effect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(6);
        opacity: 0;
    }
}

@keyframes blur-circle {
    50% {
        opacity: 0.15;
        filter: blur(100px);
    }
}

@keyframes scrolling {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }