$white : #ffffff;
$black : #000000;
$bg-color : #191919;
$point-color : #7757ff;

/* header */
$hd-bg-color : #0f1721;
$nav-ft-color : #888888;

/* footer */
$ft-gray-color : #9b9b9b;

/* main */
$ft-contact-color : #00bfde;
$ft-portfolio-color : #ff9100;
$ft-weare-color : #ff4e72;

/* about */
$card-bd-color : #4a4e57;
$card-bg-color : #0b0d21;
