@charset 'utf-8';

body {
    @include scroll;
}

.scroll-lock {
    overflow: hidden !important;
}

::selection {
    background: $point-color;
    color: $white;
}

.wrap {
    position: relative;
    scroll-behavior: smooth;
    background: $black;

    .inner {
        position: relative;
        width: 100%;
        max-width: rem(1400);
        margin: 0 auto;
    }

    .header {
        @include fixed(0, 0);
        width: 100%;
        height: rem(103);
        background: transparent;
        transition: all 0.3s ease-in-out;
        z-index: 100;
    
        &.scroll {
            background: rgba(0,0,0,0.7)
        }
    
        .inner {
            @include flex(center, space-between);
            height: 100%;
        }
    
        h1 {
            z-index: 1;
            a {
                font-size: 0;
                @include img_logo;
                width: rem(200);
                height: rem(43);
            }
        }
    
        .gnb_wrap {
            ul {
                @include flex(center, flex-end, rem(60));
                li {
                    a {
                        @include ftB;
                        font-size: rem(18);
                        color: $nav-ft-color;
                        transition: all 0.3s ease-in-out;
                    }
                    &.on {
                        a {
                            color: $white;
                        }
                    }
                    &:hover {
                        a {
                            color: $point-color;
                        }
                    }
                }
            }
        }

        .mo_nav_btn {
            display: none;
            z-index: 1;
            cursor: pointer;
            .line {
                width: rem(40);
                height: rem(2);
                background: $white;
                transition: all 0.3s ease-in-out;
            }
            &.on {
                display: block;
                transition: all 0.3s ease-in-out;
                transition-delay: 0.6s;
                transform: rotate(45deg);

                .line {
                    &:nth-child(2) {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                    &:nth-child(3) {
                        transform: translateY(rem(-1.5)) rotate(-90deg);
                    }
                }
            }
        }

        .mo_nav {
            &.hide {
                opacity: 0;
                right: -100%;
            }
            position: fixed;
            top: 0;
            right: 0;
            opacity: 1;
            width: 100vw;
            height: 100vh;
            background: $black;
            overflow-y: hidden;
            transition: all 0.3s ease-in-out;

            ul {
                @include centerXY;
                width: 100%;
                padding-left: rem(60);
                li {
                    a {
                        @include ftB;
                        font-size: rem(50);
                        color: $white;
                    }
                    & + li {
                        margin-top: rem(50);
                    }
                }
            }

            .nav_footer {
                @include centerX($bottom: rem(40));
                width: 100%;
                p {
                    @include ftM;
                    font-size: rem(18);
                    text-align: center;
                    color: $ft-gray-color;
                }
            }
        }
    }

    .footer {
        background: $black;
        .inner {
            padding: rem(25) rem(20) rem(70);
        }

        p {
            @include ftM;
            font-size: rem(18);
            color: $ft-gray-color;
            text-align: center;
            line-height: rem(24);
            word-break: keep-all;

            a {
                display: inline-block;
                @include ftB;
                font-size: rem(18);
                color: $white;
                text-align: center;
            }
        }
    }

    .contents {
        position: relative;
        width: 100%;
        overflow: hidden;

        .line {
            @include centerX($top:0);
            width: 0.5px;
            height: 100%;
            background: $white;
            opacity: 0.3;
        }

        .scroll_down {
            visibility: hidden;
            opacity: 0;
            @include fixed($top: 160px, $right: 80px);
            z-index: 1;
            transition: opacity 0.7s ease, visibility 0.7s ease;
            
            &.show {
                visibility: visible;
                opacity: 1;
            }

            .circle {
                @include img_arrow_circle;
                width: rem(100);
                height: rem(100);
                animation: circle-spin infinite forwards 10s linear;
            }
            .arrow {
                @include centerXY;
                @include img_arrow;
                width: rem(20);
                height: rem(36);
            }
        }

        .sc01 {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            @include flex(center, center, 60px, column);

            h2 {
                @include ftB;
                font-size: rem(160);
                color: $white;
                text-align: center;
            }

            .scroll {
                width: 45px;
                height: 77px;
                border-radius: 38px;
                border: 1px solid $white;
                backdrop-filter: blur(10px);
                padding-top: 22px;
                .arrow {
                    display: block;
                    width: 13px;
                    height: 13px;
                    border: 2px solid $white;
                    border-top: none;
                    border-right: none;
                    transform: rotate(-45deg);
                    margin: 0 auto;
                    margin-bottom: -4px;
                    animation: scroll-arrow infinite 3s forwards;

                    &:nth-of-type(1) {
                        animation-delay: 0.5s;
                    }

                    &:nth-of-type(2) {
                        animation-delay: 1s;
                    }

                    &:nth-of-type(3) {
                        animation-delay: 1.5s;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .wrap {
        .header {
            top: rem(50);
            height: auto;
        
            &.scroll {
                background: transparent;
            }
        
            .inner {
                padding: 0 rem(40);
            }
        
            h1 {
                a {
                    width: rem(240);
                    height: rem(52);
                }
            }
        
            .gnb_wrap {
                display: none;
            }

            .mo_nav_btn {
                @include flex(center, space-between, rem(15), column);
            }

            .mo_nav {
                display: block;
            }
        }

        .contents {
            .scroll_down {
                display: none;
                visibility: hidden !important;
                opacity: 0 !important;
            }
    
            .sc01 {
                h2 {
                    font-size: rem(90);
                }
            }
        }

        .footer {
            p {
                font-size: rem(22);
                line-height: rem(36);
    
                a {
                    font-size: rem(22);
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .wrap {
        .header {
            top: rem(25);
            height: auto;
        
            &.scroll {
                background: transparent;
            }
        
            .inner {
                padding: 0 rem(20);
            }
        
            h1 {
                a {
                    width: rem(150);
                    height: rem(33);
                }
            }
        
            .gnb_wrap {
                display: none;
            }

            .mo_nav_btn {
                @include flex(center, space-between, rem(7), column);
                .line {
                    width: rem(24);
                }
            }

            .mo_nav {
                ul {
                    padding-left: rem(40);
                    li {
                        a {
                            font-size: rem(25);
                        }
                    }
                }
                .nav_footer {
                    p {
                        font-size: rem(14);
                    }
                }
            }
        }

        .contents {
            .scroll_down {
                display: none;
                visibility: hidden !important;
                opacity: 0 !important;
            }
            .sc01 {
                h2 {
                    font-size: rem(60);
                }
                .scroll {
                    transform: scale(0.8);
                }
            }
        }

        .footer {
            p {
                font-size: rem(14);
                line-height: rem(24);
    
                a {
                    font-size: rem(14);
                }
            }
        }
    }
}