@charset 'utf-8';

/* images */
@mixin image($name, $path: "../../../public/images/", $format:"png", $bgXY:center, $bg:'',$folder:'') {
    background: #{$bg} url("#{$path}/#{$folder}/#{$name}.#{$format}") no-repeat $bgXY;
}

/* icon */
@mixin icon ($name, $path: "../../../public/images/icon/", $format:"png", $bgXY:center) {
    background: url("#{$path}#{$name}.#{$format}") no-repeat $bgXY;
    font-size: 0;
}

@mixin iconMask ($name, $color, $path: "../../public/images/icon/", $format:"svg") {
    background-color: $color;
    mask-image : url("#{$path}#{$name}.#{$format}");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    font-size: 0;
}

@mixin img_logo {
    @include image($name:'img_logo');
    background-size: 100%;
}

@mixin img_arrow_circle {
    @include image($name:'img_arrow_circle');
    background-size: 100%;
}

@mixin img_arrow {
    @include image($name:'img_arrow');
    background-size: 100%;
}

/* main */
@mixin img_main_about {
    @include image($name:'img_main_about', $folder:'main', $bgXY: left top,  $bg: #8100a7);
    background-size: contain;
}

@mixin img_main_about_logo {
    @include image($name:'img_main_about_logo', $folder:'main');
    background-size: contain;
}

@mixin img_main_about_ef_01 {
    @include image($name:'img_main_about_ef_01', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_02 {
    @include image($name:'img_main_about_ef_02', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_03 {
    @include image($name:'img_main_about_ef_03', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_04 {
    @include image($name:'img_main_about_ef_04', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_05 {
    @include image($name:'img_main_about_ef_05', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_06 {
    @include image($name:'img_main_about_ef_06', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_07 {
    @include image($name:'img_main_about_ef_07', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_08 {
    @include image($name:'img_main_about_ef_08', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_09 {
    @include image($name:'img_main_about_ef_09', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_10 {
    @include image($name:'img_main_about_ef_10', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_11 {
    @include image($name:'img_main_about_ef_11', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_12 {
    @include image($name:'img_main_about_ef_12', $folder:'main');
    background-size: 100%;
}

@mixin img_main_about_ef_13 {
    @include image($name:'img_main_about_ef_13', $folder:'main');
    background-size: 100%;
}

@mixin img_main_biz {
    @include image($name:'img_main_biz', $folder:'main');
    background-size: cover;
}

@mixin img_main_contact {
    @include image($name:'img_main_contact', $folder:'main');
    background-size: cover;
}

@mixin img_main_portfolio {
    @include image($name:'img_main_portfolio', $folder:'main');
    background-size: cover;
}

@mixin img_main_tech {
    @include image($name:'img_main_tech', $folder:'main');
    background-size: cover;
}

@mixin img_main_tech_txt {
    @include image($name:'img_main_tech_txt', $folder:'main');
    background-size: 200%;
}

@mixin img_main_ai {
    @include image($name:'img_main_ai', $folder:'main');
    background-size: cover;
}

@mixin img_main_ad {
    @include image($name:'img_main_ad', $folder:'main');
    background-size: cover;
}

@mixin img_main_gamification {
    @include image($name:'img_main_gamification', $folder:'main');
    background-size: cover;
}

@mixin img_main_gami_txt {
    @include image($name:'img_main_gami_txt', $folder:'main');
    background-size: 100%;
}

@mixin img_main_weare {
    @include image($name:'img_main_weare', $folder:'main');
    background-size: cover;
}







/* about */
@mixin img_about_visual {
    @include image($name:'img_about_visual', $folder:'about');
    background-size: cover;
}

@mixin img_about_gif {
    @include image($name:'img_about_gif', $format:"gif", $folder:'about');
    background-size: 100%;
}

@mixin img_about_effect {
    @include image($name:'img_about_effect', $folder:'about');
    background-size: 100%;
}

@mixin img_about_icon01 {
    @include image($name:'img_about_icon01', $folder:'about');
    background-size: 100%;
}

@mixin img_about_icon02 {
    @include image($name:'img_about_icon02', $folder:'about');
    background-size: 100%;
}

@mixin img_about_icon03 {
    @include image($name:'img_about_icon03', $folder:'about');
    background-size: 100%;
}

@mixin img_about_icon04 {
    @include image($name:'img_about_icon04', $folder:'about');
    background-size: 100%;
}

@mixin img_about_icon05 {
    @include image($name:'img_about_icon05', $folder:'about');
    background-size: 100%;
}

@mixin img_about_icon06 {
    @include image($name:'img_about_icon06', $folder:'about');
    background-size: 100%;
}

@mixin img_about_icon07 {
    @include image($name:'img_about_icon07', $folder:'about');
    background-size: 100%;
}

@mixin img_about_icon08 {
    @include image($name:'img_about_icon08', $folder:'about');
    background-size: 100%;
}





// @mixin ico_arrow_down($width, $height, $color: auto) {
//     @include iconMask($name:'ico_arrow_down', $color : $color );
//     width: rem($width);
//     height: rem($height);
// }
