$white : #ffffff;
$black : #000000;
$point-color : #7757ff;

/* header */
$hd-bg-color : #0f1721;
$nav-ft-color : #888888;

$ft-gray-color : #9b9b9b;

/* about */
$card-bd-color : #4a4e57;
$card-bg-color : #0b0d21;
