/*-------------------------------------------------------------------------------------------------------------
    Explain : 에이닉 홈페이지
    File : common.scss
    Date : 2024.11.19
/*------------------------------------------------------------------------------------------------------------*/

@import "_fonts";
@import "_colors";
@import "_images";

@import "_components";

@import "_reset";
@import "_contents";
@import "_ani";

/* 메뉴별 */
@import "_main";
@import "_about";

/* 임시 */
//@import "_temporary";
//@import "_mobile";